<div class="flex border-b border-b-gray-300 flex-grow">
  @for (tab of tabs; track $index) {
    <button
      type="button"
      class="px-4 py-2.5 text-title-sm 2xl:text-title-medium font-medium
             border-b-2 -mb-[1px] whitespace-nowrap
             bg-opacity-0 bg-gray-800
             hover:border-b-brand-primary-900
             active:border-b-brand-primary-900 active:bg-opacity-8"
      [class.border-b-brand-primary-900]="$index === activeIndex"
      [class.text-brand-primary-900]="$index === activeIndex"
      [class.border-b-transparent]="$index !== activeIndex"
      [class.text-gray-600]="$index !== activeIndex"
      [attr.aria-selected]="$index === activeIndex"
      (click)="select($index)"
    >
      {{ labelOf(tab) }}
    </button>
  }
</div>
